# NyCity Schools Crimes Versus School Performance Analysis

* As a whole, schools were put under a category of NTA . School safety nos were exracted from NYC Open data for Grad Year 2013-2014
* School Performance was consiered to a have a direct corelation with school crime . Is there a corelation ? 

* The below scripts are for Data Cleanup

### Note
* Author  :  Ratna Kapoor
This module is to clean the NYC School Safety data , the School Performance and the Census data

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load 
ss_data_1416 = "../Resources/2010_-_2016_School_Safety_Report.csv"
sp_data_1416 = "../Resources/Combined_HS_Performance_Data.csv"

In [3]:
# Read School Safety Data File and store into Pandas Data Frames
ss_data_1416 = pd.read_csv(ss_data_1416)
ss_data_1416.head(5)

,School Year,Building Code,DBN,Location Name,Location Code,Address,Borough,Geographical District Code,Register,Building Name,...,Borough Name,Postcode,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,2013-14,K001,15K001,P.S. 001 The Bergen,K001,309 47 STREET,K,15.0,"1,277",NaN,...,BROOKLYN,11220.0,40.649042,-74.012289,7.0,38.0,80,"3,011,821","3,007,550,022",Sunset Park West ...
1,2013-14,K002,17K002,Parkside Preparatory Academy,K002,655 PARKSIDE AVENUE,K,17.0,479,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...
2,2013-14,K002,75K141,P.S. K141,K141,655 PARKSIDE AVENUE,K,17.0,397,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...
3,2013-14,K002,84K704,Explore Charter School,K704,655 PARKSIDE AVENUE,K,17.0,NaN,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...
4,2013-14,K002,NaN,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,NaN,655 PARKSIDE AVENUE,K,17.0,876,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,...,BROOKLYN,11226.0,40.656183,-73.951583,9.0,40.0,802,"3,378,201","3,050,500,051",Prospect Lefferts Gardens-Wingate ...

In [4]:
ss_data_clean_1416 = ss_data_1416.loc[:,["School Year","Building Code","DBN","Location Code","Location Name","Major N","Oth N","NoCrim N","Prop N","Vio N","NTA"]]
ss_data_clean_1416 = ss_data_clean_1416[(ss_data_clean_1416["School Year"] == '2013-14')]
                                        
ss_data_clean_1416.fillna(0, inplace=True)
ss_data_clean_1416.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major N,Oth N,NoCrim N,Prop N,Vio N,NTA
0,2013-14,K001,15K001,K001,P.S. 001 The Bergen,0.0,2.0,1.0,1.0,0.0,Sunset Park West ...
1,2013-14,K002,17K002,K002,Parkside Preparatory Academy,0.0,0.0,0.0,0.0,0.0,Prospect Lefferts Gardens-Wingate ...
2,2013-14,K002,75K141,K141,P.S. K141,0.0,0.0,0.0,0.0,0.0,Prospect Lefferts Gardens-Wingate ...
3,2013-14,K002,84K704,K704,Explore Charter School,0.0,0.0,0.0,0.0,0.0,Prospect Lefferts Gardens-Wingate ...
4,2013-14,K002,0,0,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,1.0,5.0,2.0,2.0,4.0,Prospect Lefferts Gardens-Wingate ...

In [5]:
#Remove zero crime records
ss_data_clean_1416 = ss_data_clean_1416[(ss_data_clean_1416["Major N"] + ss_data_clean_1416["Oth N"] + ss_data_clean_1416["NoCrim N"] + ss_data_clean_1416["Prop N"] + ss_data_clean_1416["Vio N"]) > 0.0 ]
ss_data_clean_1416.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major N,Oth N,NoCrim N,Prop N,Vio N,NTA
0,2013-14,K001,15K001,K001,P.S. 001 The Bergen,0.0,2.0,1.0,1.0,0.0,Sunset Park West ...
4,2013-14,K002,0,0,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,1.0,5.0,2.0,2.0,4.0,Prospect Lefferts Gardens-Wingate ...
5,2013-14,K003,13K003,K003,P.S. 003 The Bedford Village,2.0,0.0,0.0,2.0,0.0,Clinton Hill ...
6,2013-14,K005,16K005,K005,P.S. 005 Dr. Ronald Mcnair,1.0,1.0,0.0,2.0,0.0,Stuyvesant Heights ...
7,2013-14,K006,17K006,K006,P.S. 006,0.0,1.0,2.0,0.0,0.0,Erasmus ...

In [6]:
ss_renamed_df = ss_data_clean_1416.rename(columns={"Major N": "Major Crime",
                                                       "Oth N": "Other Crime", 
                                                       "NoCrim N": "Non Criminal",
                                                       "Prop N": "Property Crime",
                                                       "Vio N": "Violent Crime"
                                                      })

ss_renamed_df["NTA"] = ss_renamed_df["NTA"].str.strip()

ss_renamed_df.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major Crime,Other Crime,Non Criminal,Property Crime,Violent Crime,NTA
0,2013-14,K001,15K001,K001,P.S. 001 The Bergen,0.0,2.0,1.0,1.0,0.0,Sunset Park West
4,2013-14,K002,0,0,655 PARKSIDE AVENUE CONSOLIDATED LOCATION,1.0,5.0,2.0,2.0,4.0,Prospect Lefferts Gardens-Wingate
5,2013-14,K003,13K003,K003,P.S. 003 The Bedford Village,2.0,0.0,0.0,2.0,0.0,Clinton Hill
6,2013-14,K005,16K005,K005,P.S. 005 Dr. Ronald Mcnair,1.0,1.0,0.0,2.0,0.0,Stuyvesant Heights
7,2013-14,K006,17K006,K006,P.S. 006,0.0,1.0,2.0,0.0,0.0,Erasmus

In [7]:
#School Safety Data that is clean and sorted by NTA
SS_df = ss_renamed_df.sort_values(["School Year", "NTA", "DBN"], ascending=True)
SS_df.head(5)

,School Year,Building Code,DBN,Location Code,Location Name,Major Crime,Other Crime,Non Criminal,Property Crime,Violent Crime,NTA
1873,2013-14,X144,0,0,2545 GUNTHER AVENUE CONSOLIDATED LOCATION,2.0,8.0,26.0,3.0,4.0,Allerton-Pelham Gardens
1741,2013-14,X076,11X076,X076,P.S. 076 The Bennington School,1.0,2.0,3.0,2.0,1.0,Allerton-Pelham Gardens
1777,2013-14,X097,11X097,X097,P.S. 097 Bronx,0.0,0.0,1.0,0.0,0.0,Allerton-Pelham Gardens
1825,2013-14,X121,11X121,X121,P.S. 121 Throop,1.0,0.0,2.0,1.0,0.0,Allerton-Pelham Gardens
1613,2013-14,R455,0,0,100 LUTEN AVENUE CONSOLIDATED LOCATION,1.0,12.0,13.0,7.0,6.0,Annadale-Huguenot-Prince's Bay-Eltingville

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
ss_renamed_df.to_csv("../Resources/SchoolSafety_1314.csv", index=False, header=True)

In [ ]:
### Note
* This module is to clean the School Performance

In [9]:
# Read School Performance Data File and store into Pandas Data Frames
sp_data_1416 = pd.read_csv(sp_data_1416)
sp_data_1416.head(5)

,DBN,graduation_rate_2011,college_career_rate_2011,graduation_rate_2012,college_career_rate_2012,graduation_rate_2013,college_career_rate_2013,graduation_rate_2014,college_career_rate_2014,Address,Borough Name,Community Board,Council District,Census Tract,NTA,Precinct,Population
0,01M292,0.563,0.519,0.507,0.400,0.58,0.32,0.43,0.41,220 HENRY STREET,MANHATTAN,3.0,1.0,201,Lower East Side,7.0,56355.0
1,01M448,0.707,0.363,0.744,0.673,0.78,0.55,0.80,0.52,200 MONROE STREET,MANHATTAN,3.0,1.0,202,Lower East Side,7.0,56355.0
2,01M450,0.716,0.692,0.727,0.557,0.76,0.58,0.82,0.69,420 EAST 12 STREET,MANHATTAN,3.0,2.0,34,East Village,9.0,76443.0
3,01M509,0.564,0.477,0.595,0.479,0.36,0.38,0.48,0.26,145 STANTON STREET,MANHATTAN,3.0,1.0,"3,001",Chinatown,7.0,56355.0
4,01M539,0.953,0.870,0.975,0.828,0.98,0.84,0.95,0.89,111 COLUMBIA STREET,MANHATTAN,3.0,2.0,"2,201",Lower East Side,7.0,56355.0

In [10]:
#Remove % from the Grad rate and Coll Rate and convert to float 
#for index in range(292):
#     sp_data_1416.at[index, "graduation_rate_2014"] = float(sp_data_1416["graduation_rate_2014"][index].replace("%", ""))
 #    sp_data_1416.at[index, "college_career_rate_2014"] = float(sp_data_1416["college_career_rate_2014"][index].replace("%", ""))

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [11]:
sp_data_1416

,DBN,graduation_rate_2011,college_career_rate_2011,graduation_rate_2012,college_career_rate_2012,graduation_rate_2013,college_career_rate_2013,graduation_rate_2014,college_career_rate_2014,Address,Borough Name,Community Board,Council District,Census Tract,NTA,Precinct,Population
0,01M292,0.563,0.519,0.507,0.400,0.58,0.32,0.43,0.41,220 HENRY STREET,MANHATTAN,3.0,1.0,201,Lower East Side,7.0,56355.0
1,01M448,0.707,0.363,0.744,0.673,0.78,0.55,0.80,0.52,200 MONROE STREET,MANHATTAN,3.0,1.0,202,Lower East Side,7.0,56355.0
2,01M450,0.716,0.692,0.727,0.557,0.76,0.58,0.82,0.69,420 EAST 12 STREET,MANHATTAN,3.0,2.0,34,East Village,9.0,76443.0
3,01M509,0.564,0.477,0.595,0.479,0.36,0.38,0.48,0.26,145 STANTON STREET,MANHATTAN,3.0,1.0,"3,001",Chinatown,7.0,56355.0
4,01M539,0.953,0.870,0.975,0.828,0.98,0.84,0.95,0.89,111 COLUMBIA STREET,MANHATTAN,3.0,2.0,"2,201",Lower East Side,7.0,56355.0
5,01M696,0.976,0.957,0.966,0.968,0.98,0.94,1.00,0.93,525 EAST HOUSTON STREET,MANHATTAN,3.0,2.0,"1,002",Lower East Side,7.0,56355.0
6,02M047,0.696,0.471,0.548,0.304,0.71,0.42,0.69,0.62,223 EAST 23 STREET,MANHATTAN,6.0,2.0,64,Gramercy,13.0,93640.0
7,02M288,0.820,0.627,0.773,0.596,0.84,0.53,0.77,0.49,525 WEST 50TH STREET,MANHATTAN,4.0,3.0,135,Clinton,18.0,54066.0
8,02M294,0.675,0.483,0.774,0.613,0.65,0.49,0.71,0.40,350 GRAND STREET,MANHATTAN,3.0,1.0,18,Chinatown,7.0,56355.0
9,02M296,0.793,0.560,0.784,0.427,0.66,0.52,0.73,0.47,525 WEST 50TH STREET,MANHATTAN,4.0,3.0,135,Clinton,18.0,54066.0
10,02M298,0.915,0.796,0.869,0.787,0.89,0.69,0.94,0.68,100 HESTER STREET,MANHATTAN,3.0,1.0,16,Chinatown,5.0,52568.0
11,02M300,0.663,0.475,0.610,0.465,0.55,0.55,0.65,0.43,525 WEST 50TH STREET,MANHATTAN,4.0,3.0,135,Clinton,18.0,54066.0
12,02M303,0.553,0.500,0.652,0.434,0.62,0.52,0.72,0.49,525 WEST 50TH STREET,MANHATTAN,4.0,3.0,135,Clinton,18.0,54066.0
13,02M305,0.678,0.548,0.783,0.644,0.83,0.60,0.87,0.69,350 GRAND STREET,MANHATTAN,3.0,1.0,18,Chinatown,7.0,56355.0
14,02M308,0.762,0.478,0.683,0.587,0.75,0.52,0.72,0.61,350 GRAND STREET,MANHATTAN,3.0,1.0,18,Chinatown,7.0,56355.0
15,02M316,0.803,0.640,0.705,0.639,0.75,0.48,0.77,0.62,26 BROADWAY,MANHATTAN,1.0,1.0,9,Battery Park City-Lower Manhattan,1.0,66679.0
16,02M374,0.778,0.404,0.742,0.479,0.77,0.50,0.74,0.54,40 IRVING PLACE,MANHATTAN,6.0,2.0,50,Gramercy,13.0,93640.0
17,02M400,0.832,0.756,0.821,0.812,0.83,0.64,0.84,0.70,444 WEST 56 STREET,MANHATTAN,4.0,3.0,139,Clinton,18.0,54066.0
18,02M407,0.833,0.709,0.864,0.574,0.94,0.58,0.90,0.84,345 EAST 15TH STREET,MANHATTAN,6.0,2.0,48,Gramercy,13.0,93640.0
19,02M408,0.931,0.608,0.933,0.683,0.96,0.66,0.94,0.66,328 WEST 48 STREET,MANHATTAN,4.0,3.0,127,Clinton,18.0,54066.0
20,02M411,1.000,0.981,1.000,0.906,0.99,0.96,1.00,0.97,55 EAST 25 STREET,MANHATTAN,5.0,2.0,56,Hudson Yards-Chelsea-Flatiron-Union Square,13.0,93640.0
21,02M412,0.964,0.774,0.931,0.883,0.95,0.73,0.96,0.79,333 WEST 17 STREET,MANHATTAN,4.0,3.0,83,Hudson Yards-Chelsea-Flatiron-Union Square,10.0,50180.0
22,02M413,0.843,0.656,0.831,0.632,0.85,0.77,0.91,0.78,127 EAST 22 STREET,MANHATTAN,5.0,2.0,68,Gramercy,13.0,93640.0
23,02M414,0.980,0.717,1.000,0.857,0.98,0.91,0.97,0.81,333 WEST 17 STREET,MANHATTAN,4.0,3.0,83,Hudson Yards-Chelsea-Flatiron-Union Square,10.0,50180.0
24,02M416,1.000,0.969,0.978,0.974,1.00,0.97,1.00,0.89,411 EAST 76 STREET,MANHATTAN,8.0,5.0,132,Lenox Hill-Roosevelt Island,19.0,208259.0
25,02M418,0.973,0.880,1.000,0.842,0.99,0.86,0.99,0.88,75 BROAD STREET,MANHATTAN,1.0,1.0,9,Battery Park City-Lower Manhattan,1.0,66679.0
26,02M419,0.531,0.559,0.509,0.432,0.50,0.41,0.66,0.35,351 WEST 18 STREET,MANHATTAN,4.0,3.0,89,Hudson Yards-Chelsea-Flatiron-Union Square,10.0,50180.0
27,02M420,0.824,0.695,0.882,0.720,0.86,0.77,0.90,0.76,345 EAST 15TH STREET,MANHATTAN,6.0,2.0,48,Gramercy,13.0,93640.0
28,02M425,0.791,0.385,0.592,0.486,0.68,0.43,0.64,0.41,90 TRINITY PLACE,MANHATTAN,1.0,1.0,13,Battery Park City-Lower Manhattan,1.0,66679.0
29,02M439,0.978,0.820,0.980,0.767,0.97,0.83,0.99,0.85,43 WEST 22 STREET,MANHATTAN,5.0,3.0,58,Hudson Yards-Chelsea-Flatiron-Union Square,13.0,93640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,30Q445,0.565,0.434,0.630,0.432,0.66,0.44,0.69,0.46,48-10 31 AVENUE,QUEENS,1.0,26.0,163,Astoria,114.0,202766.0
263,30Q450,0.657,0.429,0.561,0.429,0.59,0.40,0.63,0.43,14-30 BROADWAY,QUEENS,1.0,22.0,45,Astoria,114.0,202766.0
264,30Q501,0.934,0.836,0.966,0.876,0.94,0.85,0.98,0.80,35-12 35TH AVENUE,QUEENS,1.0,26.0,57,Astoria,114.0,202766.0
265,30Q502,0.726,0.489,0.741,0.520,0.67,0.57,0.68,0.49,21-16 44TH ROAD,QUEENS,2.0,26.0,19,Hunters Point-Sunnyside-West Maspeth,108.0,113200.0
266,30Q555,0.726,0.435,0.667,0.444,0.70,0.45,0.62,0.51,28-01 41 AVENUE,QUEENS,1.0,26.0,33,Queensbridge-Ravenswood-Long Island City,114.0,202766.0
267,30Q575,0.890,0.813,0.881,0.852,0.92,0.87,0.89,0.91,28-04 41 AVENUE,QUEENS,1.0,26.0,33,Queensbridge-Ravenswood-Long Island City,114.0,202766.0
268,30Q580,1.000,0.903,0.966,0.922,0.98,0.92,0.98,0.98,34-12 36 AVENUE,QUEENS,1.0,26.0,55,Queensbridge-Ravenswood-Long Island City,114.0,202766.0
269,31R047,0.941,0.901,0.966,0.824,0.97,0.95,0.90,0.88,100 ESSEX DRIVE,STATEN IS,2.0,51.0,"27,702",Todt Hill-Emerson Hill-Heartland Village-Light...,NaN,NaN
270,31R080,0.866,0.817,0.900,0.677,0.92,0.79,0.91,0.79,715 OCEAN TERRACE,STATEN IS,2.0,50.0,177,Todt Hill-Emerson Hill-Heartland Village-Light...,122.0,194822.0
271,31R440,0.756,0.473,0.761,0.528,0.73,0.51,0.78,0.54,465 NEW DORP LANE,STATEN IS,2.0,50.0,"11,202",New Dorp-Midland Beach,122.0,194822.0
272,31R445,0.639,0.414,0.625,0.475,0.61,0.42,0.67,0.43,85 ST JOSEPHS AVENUE,STATEN IS,1.0,49.0,213,Port Richmond,NaN,NaN
273,31R450,0.698,0.456,0.738,0.477,0.79,0.51,0.80,0.56,105 HAMILTON AVENUE,STATEN IS,1.0,49.0,7,West New Brighton-New Brighton-St. George,120.0,175876.0
274,31R455,0.835,0.639,0.845,0.652,0.83,0.66,0.85,0.66,100 LUTEN AVENUE,STATEN IS,3.0,51.0,198,Annadale-Huguenot-Prince's Bay-Eltingville,123.0,98032.0
275,31R460,0.812,0.647,0.783,0.740,0.81,0.69,0.84,0.70,1200 MANOR ROAD,STATEN IS,2.0,50.0,181,Todt Hill-Emerson Hill-Heartland Village-Light...,122.0,194822.0
276,31R600,0.630,0.366,0.668,0.461,0.60,0.44,0.75,0.42,290 ST MARKS PLACE,STATEN IS,1.0,49.0,9,West New Brighton-New Brighton-St. George,120.0,175876.0
277,32K403,0.728,0.382,0.648,0.340,0.75,0.37,0.62,0.36,400 IRVING AVENUE,BROOKLYN,4.0,37.0,435,Bushwick North,83.0,112634.0
278,32K545,0.601,0.448,0.665,0.470,0.70,0.42,0.59,0.53,1155 DEKALB AVENUE,BROOKLYN,4.0,34.0,393,Bushwick South,83.0,112634.0
279,32K549,0.683,0.550,0.635,0.327,0.55,0.34,0.69,0.31,400 IRVING AVENUE,BROOKLYN,4.0,37.0,435,Bushwick North,83.0,112634.0
280,32K552,0.634,0.252,0.513,0.309,0.51,0.28,0.48,0.31,400 IRVING AVENUE,BROOKLYN,4.0,37.0,435,Bushwick North,83.0,112634.0
281,32K554,1.000,0.581,0.974,0.771,0.97,0.84,0.94,0.74,321 PALMETTO STREET,BROOKLYN,4.0,37.0,433,Bushwick North,83.0,112634.0
282,32K556,0.489,0.314,0.432,0.252,0.70,0.23,0.68,0.38,797 BUSHWICK AVENUE,BROOKLYN,4.0,34.0,393,Bushwick South,83.0,112634.0
283,03M485,0.982,0.861,0.995,0.933,0.98,0.86,0.99,0.80,100 AMSTERDAM AVENUE,MANHATTAN,7.0,6.0,151,Lincoln Square,20.0,102624.0
284,31R605,1.000,0.990,1.000,0.900,1.00,1.00,1.00,0.99,485 CLAWSON STREET,STATEN IS,2.0,50.0,134,New Dorp-Midland Beach,122.0,194822.0
285,02M475,0.985,0.854,0.994,0.987,0.98,0.99,0.99,0.97,345 CHAMBERS STREET,MANHATTAN,1.0,1.0,"31,703",Battery Park City-Lower Manhattan,1.0,66679.0
286,05M692,0.982,0.934,0.990,0.604,0.99,0.98,0.99,0.95,240 CONVENT AVE,MANHATTAN,9.0,9.0,"21,703",Manhattanville,26.0,49508.0
287,10X696,1.000,0.936,1.000,0.988,1.00,0.99,1.00,0.99,2925 GOULDEN AVENUE,BRONX,8.0,11.0,409,Van Cortlandt Village,50.0,101720.0
288,13K430,0.977,0.867,0.960,0.948,0.98,0.83,0.98,0.91,29 FT GREENE PLACE,BROOKLYN,2.0,35.0,33,Fort Greene,88.0,51421.0
289,10X445,1.000,0.994,0.999,0.999,1.00,1.00,1.00,0.96,75 WEST 205 STREET,BRONX,7.0,11.0,409,Van Cortlandt Village,52.0,139307.0
290,14K449,0.914,0.961,0.986,0.857,1.00,0.87,0.99,0.97,223 GRAHAM AVENUE,BROOKLYN,1.0,34.0,505,East Williamsburg,90.0,116836.0
291,28Q687,1.000,0.972,0.983,1.000,0.99,0.84,1.00,0.89,94-50 159 STREET,QUEENS,12.0,27.0,246,Jamaica,103.0,105803.0

In [12]:
sp_data_1416["graduation_rate_2014"] = pd.to_numeric(sp_data_1416["graduation_rate_2014"])
sp_data_1416["college_career_rate_2014"] = pd.to_numeric(sp_data_1416["college_career_rate_2014"])

In [13]:
type(sp_data_1416["graduation_rate_2014"][1])

numpy.float64

In [14]:
sp_data_clean_14 = sp_data_1416.loc[:,["DBN","graduation_rate_2014","college_career_rate_2014","NTA"]]
sp_data_clean_14['School Year'] = '2013-14'
sp_data_clean_14_df = sp_data_clean_14.rename(columns={"graduation_rate_2014": "Grad_rate",
                                                         "college_career_rate_2014": "Coll_rate"                                                       
                                                      })

In [15]:
#Sort teh data and save output
SP_df = sp_data_clean_14_df.sort_values(["School Year", "NTA", "DBN"], ascending=True)

SP_df.head()

,DBN,Grad_rate,Coll_rate,NTA,School Year
274,31R455,0.85,0.66,Annadale-Huguenot-Prince's Bay-Eltingville,2013-14
262,30Q445,0.69,0.46,Astoria,2013-14
263,30Q450,0.63,0.43,Astoria,2013-14
264,30Q501,0.98,0.80,Astoria,2013-14
231,25Q285,0.95,0.80,Auburndale,2013-14

In [16]:
# Export file as a CSV, without the Pandas index, but with the header

SP_df.to_csv("../Resources/SchoolPerfomance_1314.csv", index=False, header=True)